/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700'); // light, regular, and bold imported per design
@import url('https://use.fontawesome.com/e1b774bc98.css'); // instance of font awesome dedicated to this site

/* color vars */
@brand-primary: #083D8C; // dark blue
@brand-secondary: #02C7C6; // sea green
@brand-info: #216DDF; // brighter blue
@white: #ffffff;
@text-shadow: #041A3B;
@gray-dark: #666666;
@gray-light: #F6F6F6;
@gray:#E5E5E5;
@gray-light2: #BEBEBE;
@brand-tertiary:#4883B5;
@brand-success:#36D4A2;

/* font vars */
@font-family-primary: 'Open Sans', Arial, sans-serif;


/* custom checkboxes */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    line-height: 24px;
    display: inline-block;
    color: #666;
}
[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    -webkit-box-shadow:inset 0px 0px 0px 1px @gray;
    box-shadow:inset 0px 0px 0px 1px @gray;
    border-radius: 5px;
    background: #fff;
    transition:all ease-in-out 0.2s;
}
[type="checkbox"]:checked + label:before {
    -webkit-box-shadow:inset 0px 0px 0px 9px @brand-info;
    box-shadow:inset 0px 0px 0px 9px @brand-info;
}

#only-xs {
    display:none !important;
}

/* basic styles */
html, body {
    font-family:@font-family-primary;
    font-weight:400;
    background:@white;
    margin:0;
    padding:0;
    font-size:14px;
}

strong, b {
    font-weight:700;
}

img {
    max-width:100%;
    height:auto;
}

.text-center {
    text-align:center;
}

.select.inline {
    margin:0 auto;
    input, strong, label {
        display:inline-block;
    }
}

hr {
    width:100%;
    border:0;
    height:1px;
    background:@gray-light;
}

.secret-littlefoot {
    display:none;
}

/* global button style */
button {
    background:transparent;
    font-family:@font-family-primary;
    border:1px solid @brand-secondary;
    color:@brand-primary;
    font-weight:700;
    transition:all ease-in-out 0.3s;
    border-radius:2px;
    cursor:pointer;
    &:hover, &:focus {
        background-color:@gray-light;
        color:darken(@brand-info, 20%);
        border-color:@gray-light2;
    }
    &.btn-nav {
        border-color:@brand-info;
        color:@brand-info;
        border-radius:4px;
        padding:12px 14px;
        font-size: 14px;
        &:hover, &:focus {
            border-color:darken(@brand-info, 10%);
        }
    }
}

/* global link style */
a {
    text-decoration:none;
    color:@brand-primary;
    border-bottom:1px solid transparent;
    transition:border-bottom-color ease-in-out 0.2s;
    &:hover, &:visited, &:focus {
        border-bottom-color:@brand-primary;
    }
}

/* nav styles */
nav#main-nav {
    width:100%;
    .bluebar {
        text-align:right;
        line-height:42px;
        width:100%;
        height:42px;
        background:@brand-primary;
        font-size: 12px;
        a {
            color:@white;
            &:hover, &:visited, &:focus {
                border-bottom-color:@white;
            }
        }
        .content {
            padding:0 60px;
            span {
                padding:0 18px;
            }
        }
    }
    .whitebar {
        position:relative;
        width:100%;
        height:94px;
        background:@white;
        box-shadow:0 5px 5px rgba(0,0,0,0.5);
        z-index:1;
        .container {
            padding:0 84px;
        }
        img {
            margin-top:33px;
            width:231px;
            max-width:42%;
            height:auto;
        }
        #nav-right {
            position:absolute;
            right:84px;
            display:inline-block;
            div {
                display:inline-block;
                &.nav-items {
                    margin-top:0;
                    margin-right:50px;
                    span {
                        transition:background ease-in-out 0.2s, border-color ease-in-out 0.4s;
                        border-top:3px solid transparent;
                        display:inline-block;
                        margin-top:0;
                        margin-bottom:0;
                        padding: 36px 19px;
                        font-weight:700;
                        color:@brand-primary;
                        font-size: 14px;
                        cursor:pointer;
                        &:hover, &:active, &:focus, &.active {
                            background:@gray-light;
                            border-top-color:@brand-secondary;
                        }
                        i.fa-chevron-down {
                            margin-left:10px;
                            color:@brand-secondary;
                        }
                    }
                }
                &.big-button-item {
                    margin-top:26px;
                }
            }
        }
    }
}

/* hero style */
#hero {
    /* for mobile separate image */
    transition:background-image ease-in-out 0.2s, height ease-in-out 0.5s, position ease-in-out 0.5s;
    height:407px;
    width:100%;
    background-image:url(/img/hero-image.jpg);
    background-position:right center;
    background-repeat:no-repeat;
    background-size:cover;
    .hero-content {
        text-align:center;
        padding:97px 40px;
        h1 {
            font-weight:300;
            font-size: 48px;
            color: @white;
            margin-top:0;
            margin-bottom:25px;
            text-shadow: 0 2px 10px @text-shadow;
        }
        h2 {
            font-size: 20px;
            color: @brand-secondary;
            margin-bottom:25px;
            text-shadow: 0 1px 10px @text-shadow;
            text-transform:uppercase;
        }
        hr {
            border:0;
            height:2px;
            background:@white;
            width:135px;
            max-width:80%;
            margin-bottom:25px;
        }
        p {
            font-size: 16px;
            color: #FFFFFF;
            margin-bottom:0;
            line-height: 26px;
        }
    }
}

#steps {
    display:table;
    width: 100%;
    height: 100%;
    padding:25px 0;
    .content {
        margin:0 auto;
        /** per sketch file this should be max-width:1044px,
         ** but doesn't look great, so adjusting a bit
         **/
        max-width:1200px;
        width:90%;
        .step {
            display:table-cell;
            vertical-align:top;
            img {
                width:88px;
                float:left;
                margin-right:12px;
            }
            div {
                width:calc(~"100% - 150px");
                display:inline-block;
                clear: both;
                h3 {
                    font-size: 17px;
                    color: @brand-primary;
                }
                p {
                    font-size: 12px;
                    color: @gray-dark;
                    line-height: 19px;
                }
            }
        }
    }
}

.content {
    &#bubbles {
        background:url(/img/water-image.png);
        background-repeat:no-repeat;
        background-size:contain;
        background-position:top center;
        padding:150px 90px 0;
    }
    .container {
        width:100%;
        padding-top:100px;
        &.filter {
            background:@gray-light;
            padding:27px 0;
            font-size: 18px;
            color: @brand-info;
            line-height: 49px;
            .keep-em-separated {
                margin-left:32px;
                padding-left:32px;
                border-left:1px solid @gray;
                strong {
                    margin-right:32px;
                }
                input[type="checkbox"] + label {
                    margin-right:30px;
                    font-weight:400;
                    font-size: 12px;
                    &[for="filter-commercial"] {
                        margin-right:10px;
                    }
                }
                .fa-question {
                    background:@gray;
                    color:@brand-tertiary;
                    font-size:12px;
                    line-height:19px;
                    height:19px;
                    padding-left:6px;
                    padding-right:7px;
                }
            }
        }
    }
}

.clearfix {
    display: inline-block;
}

.one-third {
    float:left;
    width:33.3%;
    width:calc(~"100%/3");
}

#results {
    min-height:333px;
    padding:40px 90px;
    .card {
        width:95%;
        margin:0 auto 40px;
        text-align:center;
        background: @white;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        border-radius: 10px;
        .card-inner {
            padding:20px 15px;
        }
        h2 {
            font-weight: 300;
            white-space:nowrap;
            overflow:hidden;
        }
        .phone {
            line-height:36px;
            i {
                display:inline-block;
            }
            strong {
                margin-left:6px;
                display:inline-block;
                position:relative;
                top:6px;
                font-size:30px;
            }
        }
        .hours {
            p {
                margin-top:5px;
                margin-bottom:5px;
            }
        }
        button {
            padding:10px 18px;
            font-size:16px;
            margin-bottom:30px;
            margin-top:16px;
        }
        hr {
            width:90%;
        }
        .fa-circle {
            color:@brand-info;
        }
        small {
            font-style:italic;
        }
        .certifications {
            border-bottom-right-radius:10px;
            border-bottom-left-radius:10px;
            background:@gray-light;
            padding:26px 46px;
            height:50px;
            text-align:left;
            .cert {
                white-space:nowrap;
                overflow:hidden;
                width:50%;
                margin-bottom:10px;
                display:inline-block;
                i.fa {
                    color:@gray-light2;
                    margin-right:5px;
                }
            }
        }
    }
}

#mobile-menu-overlay {
    display:none;
}

/* nav styles */
footer#main-footer {
    width:100%;
    text-align:center;
    .bigfoot {
        background:@brand-primary;
        color:@white;
        padding-top:29px;
        padding-bottom:29px;
        img.logofoot {
            margin-bottom:18px;
            width:80%;
            max-width:178px;
            height:auto;
        }
        p {
            color:@white;
            font-weight:700;
            text-transform:uppercase;
            font-size:14px;
            margin:0;
            line-height:28px;
            span {
                position:relative;
                top:-6px;
            }
            .icon {
                width:auto;
                height:28px;
                margin-left:30px;
                opacity:1;
                &.icon-twitter {
                    position:relative;
                    top:-2px;
                    height:22px;
                }
            }
        }
    }
    .littlefoot {
        text-align:right;
        line-height:42px;
        width:100%;
        height:42px;
        background:@brand-info;
        font-size: 12px;
        text-align:center;
        span {
            color:@white;
            &.privterms {
                margin-left:16px;
                padding-left:16px;
                border-left:1px solid @white;
            }
            a {
                color:@white;
                &:hover, &:visited, &:focus {
                    border-bottom-color:@white;
                }
            }
        }
    }
}


/* dropdown */
.dropdown-container {
    position:relative;
    z-index:3;
    .dropdown {
        display:none;
        background:@gray-light;
        position:absolute;
        top:0;
        border-bottom:3px solid @brand-secondary;
        line-height: 36px;
        &#dropdownpools {
            left:35%;
        }
        &#dropdownsupplies {
            left:45%;
        }
        &#dropdownresources {
            right:22%;
        }
        &#dropdownservices {
            right:13%;
        }
        table {
            padding:30px;
            tr {
                width:100%;
                td {
                    width:50%;
                    font-size: 16px;
                    color: #616161;
                }
            }
        }
    }
}

/* modal stuff */
#modal {
    display:none;
    position:fixed;
    z-index:9999;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.75);
    .modal-content {
        box-shadow:2px 2px 5px rgba(0,0,0,0.3);
        margin:10px auto 0;
        width:80%;
        max-width:704px;
        background:@white;
        .modal-header {
            background:@brand-primary;
            color:@white;
            position:relative;
            padding:20px 20px;
            p {
                margin-top:0;
                margin-bottom:10px;
                font-size: 15px;
                text-transform:uppercase;
            }
            h2 {
                margin-bottom:8px;
                font-weight:300;
                font-size: 32px;
                margin-top:10px;
            }
            .close {
                position:absolute;
                padding:0;
                top:10px;
                right:15px;
                font-size:24px;
                border-color:transparent;
                color:@white;
                &:hover {
                    background:transparent;
                }
            }
        }
        .form-cont {
            padding:20px;
            p {
                margin:0 0 10px;
                font-weight:300;
            }
            form {
                background:@gray-light;
                padding:20px 25px 10px;
                hr {
                    border:none;
                    background:@gray;
                    height:1px;
                }
                .form-group {
                    position:relative;
                    &#phone-group {
                        width:60%;
                    }
                    em {
                        color:@gray;
                        float:right;
                    }
                    label {
                        display:block;
                        font-weight:700;
                        &.required {
                            &:after {
                                color:@gray;
                                font-size:22px;
                                font-family:'FontAwesome';
                                content: '\f10c';
                                position:absolute;
                                z-index:5555;
                                top:-5px;
                                right:0;
                            }
                        }
                    }
                    &.valid {
                        label.required {
                            &:after {
                                color:@brand-success;
                                content: '\f058';
                            }
                        }
                    }
                    input, textarea {
                        margin-bottom:17px;
                        background:@white;
                        border:1px solid @gray;
                        padding:10px;
                        border-radius:0;
                        color:#000000;
                        width:calc(~"100% - 20px");
                    }
                }
                #toggles {
                    height:70px;
                    width:100%;
                    display:block;
                    em {
                        color:@gray;
                        float:right;
                    }
                    label {
                        float:left;
                        margin:4px;
                        background-color:transparent;
                        border-radius:4px;
                        border:1px solid @gray-dark;
                        overflow:auto;
                        cursor:pointer;
                        transition:background-color ease-in-out 0.2s;
                        &:hover {
                            background-color:@gray;
                        }
                        span {
                            text-align:center;
                            font-size: 14px;
                            padding:4px 12px;
                            display:block;
                        }
                        input {
                            position:absolute;
                            top:-20px;
                        }
                        input:checked + span {
                            background-color:@brand-secondary;
                            border-color:@brand-primary;
                            color:@white;
                        }
                    }

                }
                button {
                    border:0;
                    width:100%;
                    margin:10px auto;
                    font-size:14px;
                    i {
                        color:@brand-secondary;
                        font-size:20px;
                        position:relative;
                        right:-3px;
                        top:1px;
                    }
                }
            }
        }
        .form-footer {
            background:@gray-light;
            padding:15px 20px;
            color:@gray-dark;
            p {
                font-size:10px;
                margin:0;
                line-height:12px;
            }
        }
    }
}

/* to stop body scrolling when modal open - not great but quick hack */
body.modal-open {
    overflow: hidden;
}

/* doing for the sake of design rendering as intended - don't do if usability suffers */
:focus {
    outline:none;
}


/* responsive stuff */
/* "mobile" version starts at 1120px due to nav */
/* TODO: make not separate/mockup */
@media (max-width:1120px) {
    .hide-xs {
        display:none !important;
    }
    nav#main-nav {
        /* TODO: figure out why that's necessary on mobile */
        margin-bottom:-5px;
        .bluebar {
            display:none;
        }
        .whitebar {
            height:54px;
            .container {
                padding:0;
                height:54px;
                img {
                    width:152px;
                    height:auto;
                    margin:17px 8px;
                }
            }
            #nav-right {
                top:0;
                width:calc(~"100% - 200px");
                right:auto;
                left:200px;
                div {
                    &.big-button-item {
                        margin-right:72px;
                        margin-top:10px;
                        button {
                            font-size:12px;
                            padding:8px;
                            span.pool {
                                display:none;
                            }
                        }
                    }
                    &#only-xs {
                        display:block !important;
                        .hamburgler {
                            position:absolute;
                            top:6px;
                            right:7px;
                            img {
                                margin:0;
                                height:56px;
                                width:56px;
                                max-width:56px;
                                cursor:pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    #mobile-menu-overlay {
        display:none;
        position:absolute;
        height:100vh;
        width:100vw;
        background:@white;
        top:0;
        bottom:0;
        left:0;
        right:0;
        .container {
            border-top:3px solid @brand-secondary;
            i.fa-close {
                position:absolute;
                font-size:24px;
                color:@brand-secondary;
                padding:10px 20px;
                top:10px;
                right:0;
                cursor:pointer;
            }
            p {
                text-transform:uppercase;
                color:@brand-primary;
                width:100%;
                padding-top:20px;
                padding-bottom:20px;
                text-align:center;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 100%;
                background-color: @gray-light;
            }

            a li {
                display: block;
                color: @gray-dark;
                padding: 28px;
                text-decoration: none;
                border-bottom:1px solid @white;
                &:hover {
                    background-color: @gray;
                }
                .fa-chevron-right {
                    float:right;
                    color:@brand-secondary;
                    font-size:20px;
                }
            }
        }
    }
    /* hero style */
    #hero {
        /* TODO: not use 2 separate images if possible */
        background-image:url(../img/hero-image-mobile.png);
        height:auto;
        background-position:center center;
        background-size:cover;
    }
    #steps {
        display:block;
        .content {
            width:100%;
            .step {
                display:block;
                padding:0 20px;
                img {
                    width:54px;
                }
                div {
                    width:calc(~"100% - 94px");
                    display:inline-block;
                    border-bottom:1px solid @gray;
                    margin-bottom:20px;
                    h3 {
                        margin-top:0;
                        margin-bottom:0;
                    }
                    p {
                        margin-top:10px;
                    }
                }
                &#step3 {
                    div {
                        border-bottom:0;
                    }
                }
            }
        }
    }
    .content {
        &#bubbles {
            background-size:300%;
            background-position:top center;
            padding:120px 0;
        }
        .container {
            width:100%;
            padding-top:100px;
            &.filter {
                background:@gray-light;
                padding:27px 0;
                font-size: 18px;
                color: @brand-info;
                line-height: 49px;
                .keep-em-separated {
                    margin-left:32px;
                    padding-left:32px;
                    border:0;
                    position:relative;
                    strong {
                        padding:5px 10px;
                        margin-left:21px;
                        line-height:25px;
                        border:1px solid @gray;
                        margin-right:32px;
                        color:@gray-dark;
                        &:after {
                            height: 35px;
                            width: 40px;
                            position: absolute;
                            border: 1px solid @gray;
                            color:@gray-light2;
                            top: -6px;
                            right: -9px;
                            font-size: 10px;
                            line-height: 35px;
                            content: '\25BC';
                            cursor:pointer;
                        }
                    }
                    .just4mobile {
                        background:@white;
                        padding:20px;
                        margin-left:20px;
                        margin-right:20px;
                        margin-top:-7px;
                        border:1px solid @gray;
                    }
                    input[type="checkbox"] + label {
                        display:block;
                        text-align:left;
                        margin-left:20px;
                        padding-left:40px;
                        margin-right:0;
                        margin-top:30px;
                        font-weight:400;
                        font-size: 18px;
                    }
                    .fa-question {
                        position: absolute;
                        left: 213px;
                        bottom: 23px;
                    }
                }
            }
        }
    }
    .one-third {
        float:none;
        width:100%;
    }
    #results {
        display:block !important;
        min-height:333px;
        padding:40px 5px;
        .card {
            width:95%;
            margin:0 auto 40px;
            .card-inner {
                padding:20px 15px;
            }
            .phone {
                /* TODO: fiddle with phone styles
                 * will need to add some stuff to the
                 * function in js and show/hide in css,
                 * but might just leave it as is
                 */
            }
        }
    }
    .secret-littlefoot {
        display:block;
        background:@brand-info;
        text-align:center;
        height:50px;
        hr {
            border:0;
            width:80%;
            height:1px;
            background:@white;
            display: block;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
        }
        span {
            line-height:42px;
            font-size: 12px;
            margin-left:16px;
            padding-left:16px;
            &:last-child {
                border-left:1px solid @white;
            }
        }
        a {
            color:@white;
            &:hover, &:visited, &:focus {
                border-bottom-color:@white;
            }
        }
    }
}

@media (min-width:1121px) {
    #mobile-menu-overlay {
        display:none !important;
    }
}
